[Unit]
Description=OnApp Configurator
After=rabbitmq-server.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /root/scripts/test.py/run.py

[Install]
WantedBy=multi-user.target